#question-1{
    position: absolute;
    top: 25%;
    text-align: center;
    width: 25%;
    height: 16%;
    left: 38%;
    background-color: beige;
  }

  #question-2{
    position: absolute;
    top: 25%;
    text-align: center;
    width: 25%;
    height: 16%;
    left: 38%;
    background-color: beige;
  }

  #question-3{
    position: absolute;
    top: 25%;
    text-align: center;
    width: 25%;
    height: 16%;
    left: 38%;
    background-color: beige;
  }

  #question-4{
    position: absolute;
    top: 25%;
    text-align: center;
    width: 25%;
    height: 16%;
    left: 38%;
    background-color: beige;
  }

